# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
dist

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs
logs
*.log

# Testing
coverage
.nyc_output

# Misc
README.md
*.md
.eslintcache

# Docker
Dockerfile
.dockerignore
docker-compose.yml
